.tagline{
    color: blueviolet;
    font-style: italic;
}

.main{
    color: blue;
    font-style: italic;
}

img{
    float: right;
}

table{
    border: 1px solid black;
    width: 100%;
}

td.th{
    text-align: left;
    padding: 8px;
}